@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
     --color-accent: #90ee90;
}

@layer base {
    body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
}
h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;    
}


.split{
    font-size: 50px;
}

}
